:root {
   --main-background-color : #ffffff;
  --logo:#000000 ;
  --first-part-logo-color: #2196f3;
  --second-logo-part-optional :#ffffff;
  --main-box-section-background :#2f303a;
  --main-header-color :#ffffff;
  --header-color: #212121;
  --paragraph-color: #757575;
  --anchors-accent-color: #2196f3;
  --buttons-background-color :#2196f3;
  --buttons-color :#ffffff;
   --team-section-background-color :#f5f4fa;
  --footer-background-color :#2f303a;
  --address-color:#ffffff;
  --portfolio-buttons-background-color :#f5f4fa;
  --portfolio-buttons-color :#212121;


}
body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  background-color:var(--main-background-color);
}
/* header styles */
ul,h1,h2,h3,p {
  margin: 0px;
  padding: 0px;
}
.nav-section {
  border-bottom: 1px solid #ececec    ;
}
.nav-bar {
  display: flex;
  align-items: center;
}
.nav-list {
  display: flex;
  margin-left: 93px;
}
.nav-list-item {
  margin-right: 50px;
}
.nav-list .nav-list-item:last-child {
  margin-right: 0px;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: var(--logo);
  text-decoration: none;
  
  
}
.header-logo {
  display: flex;
  padding-top :24px ;
  padding-bottom: 25px ;
}
.logo-part {
  color: var(--first-part-logo-color);
}
.list {
  list-style: none; 
}
.anchors {
  line-height: 1.14;
  letter-spacing: 0.02em;
  color:var(--header-color);
  text-decoration: none;
  
  padding-top: 32px;
  padding-bottom: 32px;
  
}

.anchors:hover,
.anchors:focus {
  color: var(--anchors-accent-color);
}
.contacts-list {
  display: flex;
  margin-left: auto;
}
.contacts-list-item {
 margin-right: 50px;
}
.contacts-list .contacts-list-item:last-child {
  margin-right: 0px;
}
.mailto,
.callto {
  color: var(--paragraph-color);
  padding-bottom: 32px;
}

/* main section */
.main-box {
 
}
/* centralize container  */
.container {
width: 1230px;
padding-left: 15px;
padding-right: 15px;
margin-left: 215px;
margin-right: 215px;
}
.main-box-section {
  background-color: var(--main-box-section-background);
  text-align: center;
}
.main-header {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: var(--main-header-color);
  margin-bottom: 30px;
  
}
.order-buttom {
  font-weight: bold;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color:var(--buttons-background-color);
  color: var(--buttons-color);
  min-width: 200px;
  display: inline-block;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 10px 32px;
  
}
/* disription section */
.discription-section {
  padding-top: 94px;  
}
.discription-list {
  display: flex;
}
.discription-list-item {
  width: 270px;
  margin-right: 30px;
}
.discription-list .discription-list-item:last-child {
  margin-right: 0px;
}
.item-head {
  font-weight: bold;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--header-color);
  margin-bottom: 10px;
}
.item-data {
  line-height: 1.71;
  color:var(--paragraph-color);
}
/* our-doing-section */
.our-doing-section {
  display: flex;
  
}
.doing-pic-list {
  display: flex;
  
}

.our-doing-header {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  padding-bottom: 50px;
  padding-top: 94px;
  
  color:var(--header-color);
}
.doing-pic {
  display: block;
  max-width: 100%;
  height: auto;
  margin-right: 30px;
  padding-bottom: 94px;
 
}
.doing-pic-list .doing-pic:last-child {
  margin-right: 0px;
}

/* our-team-section */

}
.our-team-section {
  
  background-color: var(--team-section-background-color);
}
.our-team-header {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  padding-top: 90px;
  padding-bottom: 50px;
  
  
  color: var(--header-color);
}
.our-team-list .team-pic:last-child {
  margin-right: 0px;
}
.our-team-list {
  display: flex;
  text-align: center;
}
.team-pic {
  display: block;
  max-width: 100%;
  height: auto;
  margin-right: 30px;
  padding-bottom: 94px;

}
.worker-full-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  padding-top: 30px;
  padding-right: 60px;
  padding-bottom: 10px;
  padding-left: 60px;
  color: var(--header-color);
}
.worker-position {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.18;
  padding-top: 10px;
  padding-right: 70px;
  padding-bottom: 30px;
  padding-left: 70px;
  
  color:var(--paragraph-color);
}
/* footer-section */
.footer-section {
 
  background-color:var(--footer-background-color);

}
.footer-logo {
  display: inline-block;
  padding-top: 60px;
}
.second-logo-part {
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  
  color: var(--second-logo-part-optional);
}
.address {
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  line-height: 1.71;
  color:var(--address-color);
  display: inline-block;
  padding-top: 20px;
  

}
.footer-mailto,
.footer-callto {
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  display: inline-block;
  padding-top: 9px;
}
.address:hover,
.address:focus {
  color: var(--anchors-accent-color);
}
.footer-callto:hover,
.footer-callto:focus {
  color:var(--anchors-accent-color);
}
.footer-mailto:hover,
.footer-mailto:focus {
  color: var(--anchors-accent-color);
}
/* portfolio-section-of-styles */
.main-box-portfolio {
  margin-top: 94px;
}

/* buttons-section */
.buttons-bar-section {
  display:flex;
  
  
}
.product-nav-list {
  display: flex;
  flex-direction: row;
 justify-content: center; 
  
}
.buttons {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.62;
  background-color: var(--portfolio-buttons-background-color);
  color: var(--portfolio-buttons-color);
  border: none;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
border-radius: 4px;
padding: 6px 22px;
margin-right: 8px;
margin-bottom: 50px;
}
.buttons:hover,
.buttons:focus {
  background-color:var(--buttons-background-color);
  color: var(--buttons-color);
}
.product-list {
  list-style: none;
  text-decoration: none;
  padding-bottom: 94px;
  
  display: flex;
  flex-wrap: wrap;
}
.product-list-item {
  display: flex;
  margin-right: 30px;
}
.product-list-item:nth-child(3n) {
  margin-right: 0px;
}
/* products-section */
.product-picture {
  display: block;
  max-width: 100%;
  height: auto;
  padding-bottom: 20px;
}
.product-name {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--header-color);
  padding-right: 24px;
  padding-left: 24px;
  padding-bottom: 4px;
  
}
.product-class {
  font-size: 16px;
  line-height: 1.87;
  color: var(--paragraph-color);
  padding: right 24px; ;
  padding: bottom 20px; ;
  padding-left: 24px;
  
